/* Add CSS Styling */

.odd {
    background-color: #ffb6c1;
}

.odd.two {
    font-size: 24px;
}

#even-1{
    font-size: 36px;
    color: blue;
}

#even-2{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}