body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 600px;
  background: #fff;
  margin: 32px auto;
  padding: 8px;;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px auto;
}

.content {
  background: #e3f4ff;
  padding: 16px;
  display: inline-block;
}

.button-container {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 8px;
  text-align: center;
}

button {
  display:block;
  margin-left: 240px;
  background: white;
  border: 1px solid #eee;
}